@import '../../../styles/variables.scss';

.container {
  margin: 0 auto;
  padding-left: $gutter-md;
  padding-right: $gutter-md;
  &--main-content {
    @media screen and (min-width: 768px) {
      width: 750px;
    }

    @media screen and (min-width: 992px) {
      width: 970px;
    }

    @media screen and (min-width: 1200px) {
      width: 1170px;
    }
  }
}
