// Gutters
$gutter-base: 16px;
$gutter-xxs: $gutter-base * 0.125; // 2
$gutter-xs: $gutter-base * 0.25; // 4
$gutter-sm: $gutter-base * 0.5; // 8
$gutter-ms: $gutter-base * 0.75; // 12
$gutter-md: $gutter-base;
$gutter-ml: $gutter-base * 1.5; // 24
$gutter-lg: $gutter-base * 2; // 32
$gutter-xl: $gutter-base * 2.5; // 40
$gutter-xlg: $gutter-base * 4; // 64
$gutter-xxlg: $gutter-base * 5; // 80

// Colors

$main-bright-color: #6f9a37;

// Font Sizes
$font-size-xxxs: 8px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-ms: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-mlg: 22px;
$font-size-elg: 24px;
$font-size-xl: 32px;
$font-size-xlg: 48px;
$font-size-xxl: 80px;

// Line-height
$line-height-xs: 12px;
$line-height-sm: 24px;
$line-height-ms: 32px;
$line-height-md: 40px;
$line-height-lg: 48px;
$line-height-xl: 56px;
$line-height-xlg: 80px;
$line-height-xxl: 88px;

// Font-weight
$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;